.container__section {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas: 'col-1'
                         'col-2';
} 

.section__wrapper {
    margin: auto;
    max-width: 1124px;
    font-family: "Roboto";
}

.section__title {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 32px;
    font-weight: bold;
    color: #676767;
}

.section__hr {
    margin-left: 0;
    margin-top: 0;
    width: 222px;
    color: #676767;
}

.section__ul {
    padding: 0;
}
.section__li {
    display: inline-block;
    list-style: none;
    margin-right: 12px;
}

.section__li:hover > .section__img {
    border-color: #bbc7dc;
    box-shadow: 0 6px 8px #d5dce9;
    transition: all .5s;
}

.section__img {
    width: 208px;
    height: 368px;
    /* border-radius: 4px; */
}

.section__title--modified {
    font-size: 16px;
    color: #748FD3;
}