@import 'headerContainer';
@import 'footerContainer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 152px 1fr 820px;

    grid-template-areas: 'header'
                         'main'
                         'footer';

    header {
        grid-area: header;
    }

    main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
    }
}

.container-width {
    width: calc(100vw - 18%);
    margin: auto;
}