@import url("https://fonts.googleapis.com/css2?family=Ruluko&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
@font-face {
  font-family: "Roboto-regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Saira-light";
  src: url("../fonts/Saira-Light.ttf") format("truetype"); }
.call-to-action .container__call-to-action .form__newsletter-nome, .call-to-action .container__call-to-action .form__newsletter-email {
  font-size: 18px;
  font-family: "Roboto-regular";
  padding: 12px;
  outline: 0; }

.call-to-action {
  display: flex;
  align-content: center;
  margin-top: 40px;
  height: 140px;
  width: 100%;
  background-color: #E7E7E4; }
  .call-to-action .container__call-to-action {
    display: flex;
    justify-content: center; }
    .call-to-action .container__call-to-action .newsletter-title {
      text-align: center;
      margin: 0 auto 20px auto;
      font-family: "Ruluko", sans-serif;
      color: #5A5A5A;
      font-size: 26px; }
    .call-to-action .container__call-to-action .form__newsletter-nome, .call-to-action .container__call-to-action .form__newsletter-email {
      float: left;
      margin-right: 30px;
      width: 365px;
      height: 40px;
      border-radius: 4px;
      border: 2px solid #CCCCCC;
      transition: color .5s, border .5s; }
      .call-to-action .container__call-to-action .form__newsletter-nome:focus, .call-to-action .container__call-to-action .form__newsletter-email:focus {
        border: 2px solid #000;
        color: #000; }
    .call-to-action .container__call-to-action .form__newsletter-email {
      border-radius: 4px 0 0 4px;
      margin-right: 0;
      border-right: 0; }
    .call-to-action .container__call-to-action .form__newsletter-btn {
      float: left;
      height: 40px;
      width: 40px;
      font-family: "Roboto-regular";
      font-weight: bold;
      font-size: 16px;
      color: #CCCCCC;
      border: 2px solid #CCCCCC;
      border-radius: 0 4px 4px 0;
      background-color: #FFFFFF;
      transition: color .5s, border .5s; }
      .call-to-action .container__call-to-action .form__newsletter-btn:hover {
        border: 2px solid #000;
        color: #000; }

.social .social__list {
  list-style-type: none;
  display: flex;
  align-content: center;
  margin: 40px 0;
  justify-content: center; }
  .social .social__list li {
    margin-right: 50px; }
    .social .social__list li:last-child {
      margin-right: 0; }
  .social .social__list a {
    font-size: 38px;
    color: #cccccc;
    transition: color 0.5s; }
    .social .social__list a:hover {
      color: #000; }

.line__social {
  border: 1px solid #cccccc; }

.footer__links {
  display: flex;
  margin-top: 80px;
  font-family: "Rubik", sans-serif; }
  .footer__links div {
    margin-right: 10vw; }
  .footer__links .title__link {
    font-size: 22px;
    color: #000;
    margin-bottom: 10px; }
  .footer__links .list__link {
    list-style-type: none; }
    .footer__links .list__link li {
      margin-bottom: 10px; }
    .footer__links .list__link a {
      text-decoration: none;
      color: #5A5A5A;
      font-size: 16px;
      transition: color 0.5s; }
      .footer__links .list__link a:hover {
        color: #000; }

.footer__huddle {
  margin-top: 80px;
  display: flex;
  background-color: #000; }
  .footer__huddle .footer__logo p {
    margin-top: 55px;
    font-family: "Roboto";
    font-weight: 300;
    float: left;
    color: #FFF;
    font-size: 20px; }
    .footer__huddle .footer__logo p a {
      font-family: "Roboto";
      font-weight: 700;
      text-decoration: none;
      color: #FFF; }
  .footer__huddle .footer__logo img {
    height: 142px;
    width: auto;
    float: right; }

/*# sourceMappingURL=footerContainer.css.map */
