@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Regular.ttf") format("truetype");
}

.header__wrapper {
    margin: auto;
    max-width: 1124px;
    border-bottom: 2px solid #202020;
}

.header__wrapper--modified {
    border-bottom: none;
}

.header__wrapper::after {
    content: '';
    clear: both;
    display: table;
}

.header__img {
    float: left;
}

.header__form {
    position: relative;
    float: left;
    top: 28px;
    margin-left: 104px;
}

.header__input {
    padding-left: 16px;
    font-size: 16px;
    height: 28px;
    width: 400px;
    border: none;
    border-radius: 4px;
    outline: none;
}

.header__btn {
    position: relative;
    padding: 6px;
    right: 50px;
    width: 49px;
    font-size: 16px;
    background-color: #fff;
    border: none;
    border-radius: 4px
}

.header__link {
    margin-left: 38px;
    padding: 4px;
    font-family: "Roboto";
    position: relative;
    float: right;
    top: 10px;
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    line-height: 29px;
}

.header__link--modified {
    position: static;
    margin-left: 0;
    text-decoration: none;
}

.header__sacola {
    color: #D8D8D8;
    position: relative;
    top: 14px;
    font-size: 32px;
}

.header__compras {
    color: #D8D8D8;
    display: inline;
    font-size: 14px;
}

.header__valor {
    position: relative;
    left: 32px;
    line-height: 5px;
    color: #999;
    font-size: 14px;
    margin: 0;
}

.header__user {
    float: left;
    background-color: #B4B4B4;
    color: #D8D8D8;
    margin-top: 11px;
    padding: 4px 8px;
    font-size: 28px;
    border: 2px solid rgba(255,255,255, 0.2);
    border-radius: 50%;
}

.header__entre {
    position: relative;
    top: 2px;
    float: left;
    margin-left: 5px;
    color: #D8D8D8;
    font-size: 14px;
}

.header__list {
    float: left;
    margin: auto;
    padding: 0;
}

.header__li {
    display: inline-flex;
    margin-top: 6px;
    margin-right: 120px;
    transition: opacity 0.5s;
}

.header__li:hover {
    opacity: 0.66;
}
